.about {
    width: 100%;
    height: 60vh;
    &__container {
        width: 65%;
        height: 100%;
        margin: 0 auto;
        &__title {
            width: 100%;
            height: 10%;
            &_item {
                color: white;
                padding-left: 10px;
                text-align: center;
                font-family: 'Hind Siliguri', sans-serif;
                font-size: 33px;
            }
            &_span {
                color: #3CB9FC;
                font-family: 'Chakra Petch', sans-serif;
                font-size: 25px;
                margin-right: 10px;
            }
        }
        &__main {
            width: 100%;
            height: 90%;
            display: flex;
            justify-content: space-around;
            &_left {
                width: 45%;
                height: 90%;
                padding-top: 20px;
                & p {
                    font-size: 15px;
                    line-height: 155%;
                    color: white;
                }
            }
            &_right {
                width: 45%;
                height: 100%;
                padding-top: 40px;
                & img {
                    display: block;
                    margin: 0% auto;
                    width: 90%;
                }
            }
        }
    }
}


@media screen and (max-width: 520px) {
    .about {
        width: 100%;
        height: 135vh;
        margin-top: -50%;
        &__container {
            width: 90%;
            margin: 0 atuo;
            &__main {
                display: block;
                &_left {
                    width: 100%;
                }
                &_right {
                    width: 100%;
                    margin-top: -100%;
                }
            }
        }
    }
}