.hero {
    width: 100%;
    height: 90vh;
    overflow: hidden;
    background-color: antiquewhite;
    &__container {
        width: 75%;
        height: 100%;
        margin: 0 auto;
        overflow: hidden;;
        background-color: aqua;
    }
    &__content {
        display: block;
        width: 100%;
        height: 60%;
        margin-top: 10%;
        overflow: hidden;
        background-color: aliceblue;
        &_subtitle {
            display: block;
            width: 100%;
            height: 50px;
            font-size: 20px;
            margin-top: 10px;
            color: #3CB9FC;
            font-family: 'Chakra Petch', sans-serif;
        }
        &_title {
            display: block;
            width: 100%;
            font-size: 60px;
            margin-top: -35px;
            line-height: 130%;
            font-family: 'Hind Siliguri', sans-serif;
            background-color: aquamarine;
        }
    }
}



@media screen and (max-width: 520px) {
    .hero {
        width: 100%;
        height: 90vh;
        overflow: hidden;
        &__container {
            width: 90%;
            margin: 0 auto;
            overflow: hidden;
        }
        &__content {
            width: 100%;
            height: 80%;
            margin-top: 20%;
        }
    }
}