.hero {
    width: 100%;
    height: 90vh;
    overflow: hidden;
    &__container {
        width: 65%;
        height: 100%;
        margin: 0 auto;
        overflow: hidden;;
    }
    &__content {
        display: block;
        width: 100%;
        height: 100%;
        margin-top: 13%;
        overflow: hidden;
        &_subtitle {
            display: block;
            width: 100%;
            height: 50px;
            font-size: 20px;
            margin-top: 10px;
            color: #3CB9FC;
            font-family: 'Chakra Petch', sans-serif;
        }
        &_title {
            display: block;
            width: 100%;
            font-size: 70px;
            margin-top: -35px;
            line-height: 130%;
            font-family: 'Hind Siliguri', sans-serif;
            color: white;
        }
        &_article {
            display: block;
            width: 100%;
            font-size: 16px;
            line-height: 145%;
            margin-top: -30px;
            color: rgb(178, 178, 178);
        }
        &_button {
            display: block;
            width: 150px;
            height: 40px;
            margin-top: 50px;
            cursor: pointer;
            text-align: center;
            background-color: #b437f268;
            border: 1px solid #B537F2;
            font-size: 15px;
            width: 170px;
            height: 60px;
            line-height: 60px;
            color: #3CB9FC;
            font-family: 'Chakra Petch', sans-serif;
            border-radius: 5px;
        }
        &_button:hover {
            background-color: #b437f2a0;
            color: #6dccff;
            transition-duration: 500ms;
        }
    }
}


// sidebarの記述
.side {
    position: absolute;
    bottom: 0px;
    left: 40px;
    position: fixed;
    width: 100px;
    height: 300px;
    &__list {
        margin: 0 auto;
        &_content {
            width: auto;
            margin-bottom: 10px;
        }
        &_box {
            width: 1px;
            height: 150px;
            background-color: #3CB9FC;
            margin-left: 11px;
            margin-bottom: 0px;
        }
    }
}



@media screen and (max-width: 520px) {
    .hero {
        width: 100%;
        height: 90vh;
        overflow: hidden;
        &__container {
            width: 90%;
            margin: 0 auto;
            overflow: hidden;
        }
        &__content {
            width: 100%;
            height: 80%;
            margin-top: 20%;
            &_subtitle {
                font-size: 18px;
            }
            &_title {
                display: block;
                width: 100%;
                font-size: 38px;
                margin-top: -20px;
                margin-bottom: 60px;
                line-height: 130%;
            }
            &_article {
                font-size: 15px;
            }
            &_button {
                margin-top: 40px;
            }
        }
    }
    .side {
        display: none;
    }
}