.hero {
    width: 100%;
    height: 90vh;
    overflow: hidden;
    background-color: antiquewhite;
    &__container {
        width: 75%;
        height: 100%;
        margin: 0 auto;
        overflow: hidden;;
        background-color: aqua;
    }
    &__content {
        width: 100%;
        height: 70%;
        margin-top: 10%;
        background-color: aliceblue;
    }
}