.skills {
    width: 100%;
    height: 110vh;
    margin-top: 10%;
    &__container {
        width: 70%;
        height: 100%;
        margin: 0 auto;
        &__title {
            width: 100%;
            height: 10%;
            &_item {
                color: white;
                padding-left: 10px;
                font-family: 'Hind Siliguri', sans-serif;
                font-size: 33px;
            }
            &_span {
                color: #3CB9FC;
                font-family: 'Chakra Petch', sans-serif;
                font-size: 25px;
                margin-right: 10px;
            }
        }
        &__itemarea {
            width: 95%;
            height: 10%;
            margin: 0 auto;
            margin-top: -30px;
            &_item {
                color: white;
                font-size: 15px;
            }
        }
        &__chartarea {
            width: 33%;
            height: 30%;
            margin-top: 5%;
            display: flex;
            justify-content: space-between;
            &_item {
                display: block;
                width: 33%;
                background-color: aquamarine;
            }
        }
        &__chartmore {
            width: 100%;
            height: 15%;
            display: flex;
            margin-top: 2%;
            justify-content: space-between;
            &_item {
                width: 33%;
                height: 100%;
                text-align: center;
                color: rgb(173, 173, 173);
                font-size: 12px;
            }
        }
        &__statearea {
            width: 95%;
            margin: 3% auto;
            border: 1px dotted white;
            &_item {
                width: 95%;
                margin: 2% auto;
                color: rgb(173, 173, 173);
            }
        }
    }
}



@media screen and (max-width: 520px) {
    .skills {
        width: 100%;
        height: 300vh;
        &__container {
            width: 95%;
            margin: 0- auto;
            &__chartarea {
                width: 100%;
                height: 100vh;
                display: block;
                margin: 0 auto;
                &_item {
                    display: block;
                    width: 100%;
                    margin: 0 auto;
                }
            }
            &__chartmore {
                display: none;
            }
        }
    }
}